.img{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs18sqiPmBwhoed7F8taxeIbaHKAUcD6fk0w&usqp=CAU");
}
.color{
    color: lightslategray;
}
#margin1{
    margin-top: 10px;
}
#margin{
    margin-top: 10px;
}
